[tool.poetry]
name = "babelfont"
version = "2.0.1"
description = ""
authors = ["Simon Cozens <simon@simon-cozens.org>"]

[tool.poetry.dependencies]
python = "^3.8"
orjson = "^3.5.1"
fonttools = "^4.21.1"
ufoLib2 = "^0.11.1"
openstep-plist = "^0.2.2"
glyphsLib = "^5.3.2"
cu2qu = "^1.6.7"
fontfeatures = {git = "https://github.com/simoncozens/fontFeatures", rev = "eca1d07"}

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
babelfont = 'babelfont.__main__:main'
